//custom variables
$primary: #63C916;
$secondary : #FF9A07;
.nav-item{
    position: relative;
}
//import function and variable
@import '../node_modules/bootstrap/scss/_functions.scss';
@import './node_modules/bootstrap/scss/_variables.scss';

//custom-theme-colors
$custom-theme-colors: (
    "myDark": #f2ebfa,
    "lightGreen": rgba(64, 255, 143, 0.89),
    "MyGg": rgba(255, 255, 255, 0.884),
    "hiG" : #0fe;
);

//merge bootstrap's theme-color with the new one
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss'