//custom variables
<<<<<<< HEAD
$primary: #63C916;
$secondary : #FF9A07;
.nav-item{
    position: relative;
}
=======
$primary: #FF9A07;
$secondary : #63C916;

>>>>>>> d80ebf0 (navigation bar created)
//import function and variable
@import '../node_modules/bootstrap/scss/_functions.scss';
@import '../node_modules/bootstrap/scss/_variables.scss';

//custom-theme-colors
$custom-theme-colors: (
    "myDark": #f2ebfa,
<<<<<<< HEAD
    "lightGreen": rgba(64, 255, 143, 0.89),
=======
    "myLight": rgba(7, 6, 6, 0.973),
>>>>>>> d80ebf0 (navigation bar created)
    "MyGg": rgba(255, 255, 255, 0.884)
);

//merge bootstrap's theme-color with the new one
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss'